<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/index.css">
  </head>
  <body>
    <!-- 프로필이 표시되도록 내용을 채워주세요 -->
    <ul>
      <li><p><%= slug %></a></p></li>      
      <li><p>제 이름은 <%= name %> 입니다.</p></li>      
      <li><p>저는 <%= description %></p></li>      
      <li><img src="<%= avartar %>"></li>         
    </ul>

  </body>
</html>